body{
    background-color: #BFC0BB;
font-family: "Outfit", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;}

.topmenu{
    font-family: outfit-medium;
    font-size: 18px;
     padding: 15px;
   }
    
     .ns{
        color: #000000;
        float: left;
        text-decoration: none;
        padding: 5px;
        position: relative;
        left: 0px;
 
    }
    
    .ns:hover {
        background-color: #C9DE5D;
        color: #b0b0b0;}

        .ns:active {
            background-color: #c14747;
            color:  #b0b0b0;;
            transform: translateY(2px);}


    

        

.work{
    color: #000000;
    float:left;
text-decoration: none;
padding: 5px;
        position: relative;
        left: 472px;}

        .work:hover {
            background-color: #C9DE5D;
            color: #b0b0b0;
        }

        .work:active {
            background-color: #c14747;
            color:  #b0b0b0;;
            transform: translateY(2px);}

.about{
    color: #000000;
    float:left;
    text-decoration: none;
    padding: 5px;
        position: relative;
        left: 750px; }

        .about:hover {
            background-color: #C9DE5D;
            color: #b0b0b0;
        }

        .about:active {
            background-color: #c14747;
            color:  #b0b0b0;;
            transform: translateY(2px);}
   
        .mail{
            color: #000000;
            
            text-decoration: none;
            padding: 5px;
        position: relative;
        left: 1135px;
             }
             .mail:hover {
                background-color: #C9DE5D;
                color: #b0b0b0;}

                .mail:active {
                    background-color: #c14747;
                    color:  #b0b0b0;;
                    transform: translateY(2px);}


    .menu{ 
        margin-bottom: 2em;
        color: #000000;
        font-family: outfit-medium;
        font-size: 18px;
        text-decoration: none;
        float: left;
        bottom: 100px;
    padding: 0px 15px 0px 15px;
    height: 3000px;
    width: 584px;
    margin-bottom: 4em}


    .activ{
        display: block;
        color: #000000;
        text-decoration: none;
    padding-right: 478px;
    padding: 5px;
    


}

   
     .activ:hover {
        background-color:  #C9DE5D;
        color: #b0b0b0;}

        .activ:active {
            background-color: #c14747;
            color:  #b0b0b0;;
            transform: translateY(2px);}
        

        .activ01{
            background-color:  #C9DE5D;
            color: #b0b0b0;
            text-decoration: none;
        padding-right: 478px;
        text-decoration: none;
        display: block;
         padding: 5px;}

        
    


    .navbar{
         color: #000000;
        font-family: outfit-medium;
        font-size: 18px;
        background-color:   #BFC0BB;
        padding: 15px;
        overflow: hidden;
        position: fixed;
        bottom: 0;
        width: 100%;}
        
        
    .back-to-top{
        color: #000000;
        float: left;
    padding-right: 570px;
    text-decoration: none;
    padding: 5px;
    position: relative;
    left: 0px;

}



.back-to-top:hover {
    background-color:  #C9DE5D;
    color: #b0b0b0;
}

.back-to-top:active {
    background-color: #c14747;
    color:  #b0b0b0;;
    transform: translateY(2px);}



    .back{
        color: #000000;
        float:left;
    padding-right: 300px;
    text-decoration: none;
    padding: 5px;
    position: relative;
    left: 565px;

}

.back:hover {
    background-color:  #C9DE5D;
    color: #b0b0b0;
}

.back:active {
    background-color: #c14747;
    color:  #b0b0b0;;
    transform: translateY(2px);}

    .next{
        color: #000000;
        float:left;
        text-decoration: none;
        padding: 5px;
        position: relative;
        left: 847px;
    
    }
    
    .next:hover {
        background-color:  #C9DE5D;
        color: #b0b0b0;}

        .next:active {
            background-color: #c14747;
            color:  #b0b0b0;;
            transform: translateY(2px);}
   
    .block{
        width: 50%;}

    img {
      width: 800px;
            height: 300px;
            height: 100%;
            padding-bottom: 5px;
            float: right;}

           .img{
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            will-change: transform, opacity;
            transition: .8s var(--cubicbz);}
        

        /* Image Gallery **********************************/
.gallery {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: auto;
	gap: 60px;
}

.gallery__item {
	position: relative;
	list-style: none;
	overflow: hidden;
	cursor: pointer;
}

.gallery__img {
    flex-wrap: wrap;
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	will-change: transform;
	transition: .8s var(--cubicbz);
   
    
	
}

.gallery__item:hover .gallery__img {
	transform: scale(1.3);
}

.gallery__item::after {
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	backdrop-filter: blur(20px);
	background: rgba(0, 0, 0, 0.614);
	will-change: opacity;
	pointer-events: none;
	z-index: 2;
	transition: .8s var(--cubicbz);
}

.gallery__item:hover::after {
	opacity: 1;
}

.zoom {
	display: block;
	position: absolute;
	top: 30px;
	left: 135px;
	opacity: 0;
    font-family: outfit-medium;
	font-size: 18px;
	will-change: transform, opacity;
	pointer-events: none;
	transform: translate(-50%, -10%);
	color:#C9DE5D;
	-webkit-text-stroke: 1px var(--pr-color);
	z-index: 3;
	transition: .8s var(--cubicbz);
}

.gallery__item:hover .zoom {
	opacity: 1;
	transform: translate(-50%, -50%);
}

/***/
a[data-fancybox] img {
	cursor: zoom-in;
}






.p{
    color: #BFC0BB;}
  
        
  .text{
    font-family: outfit-medium;
    font-size: 18px;
    padding: 21px; 
    position: absolute;
	height: 400px;
    width: 580px;}

    .text02{
        font-family: outfit-medium;
        font-size: 18px;
        padding: 21px; 
        position: absolute;
        top: 140px;
        height: 400px;
        width: 580px;}

        .gallery__img01{
            padding: 18px;
        position: absolute;
        top: 220px;
        height: 400px;
        width: 580px;


        }



.inst{
    font-family: outfit-medium;
    font-size: 18px;
     color: #88a300;
    top: 18px;
padding-right: 300px;
text-decoration: none;
padding: 5px;
position: relative;
left: 950px;}

.inst:hover {
    background-color:  #000000;
    color: #ffffff;}


.biha{
    font-family: outfit-medium;
    font-size: 18px;
    top: 15px;
     color: #88a300;
     float:left;
padding-right: 300px;
text-decoration: none;
padding: 5px;
position: relative;
left: 950px;}

.biha:hover {
    background-color:  #000000;
    color: #ffffff;}


 
 
 p{
    font-family: outfit-medium;
font-size: 18px;
padding-right: 150px;
position: relative;
bottom: 12px;
left: 8px;
}

